
:root {
    --colcwidth: 850px;
    /* --colwidth: calc(var(--colcwidth) / 2 - (var(--sfcpad) * 2)); */
    --colwidth: 250px;
    --colAnimLength: 0.15s;
}

@media screen and (max-width:768px) {
    :root {
        --colAnimLength: 0s;
    }

    .collectionItem:active > .CollectionHoverTint {
        background-color: rgba(75, 79, 124, 0.8);
    }
    .collectionItem:active {
        background-color: var(--dk25) !important;
    }

    .collectionItem .favoriteButton {
        transform: translateX(0px);
        opacity: 1;
    }
    .favoriteButton:active {
        background-position: 100% 0;
        box-shadow: 0 0 5px 1px var(--lt_d);
    }
}

@media (hover:hover) {
    .collectionItem:hover > .CollectionHoverTint {
        background-color: rgba(75, 79, 124, 0.8);
    }
    .collectionItem:hover {
        background-color: var(--dk25) !important;
    }
    .collectionItem.newCollection:hover {
        color: var(--dk25) !important;
        border-color: var(--dk25) !important;
    }
    .collectionItem.newCollection:hover img {
        filter: brightness(1);
    }
    .collectionItem:hover .colInfo {
        filter: brightness(1);
    }
    .collectionItem:hover .favoriteButton {
        transform: translateX(0px);
        opacity: 1;
    }
    .favoriteButton:hover {
        background-position: 100% 0;
        box-shadow: 0 0 5px 1px var(--lt_d);
    }
}

.collectionsContainer {
    display: grid;
    background-color: transparent;
    height: fit-content;
    max-width: 100%;
    width: var(--colcwidth);

    padding: var(--sfcpad);
    box-sizing: border-box;

    grid-template-columns: repeat(auto-fill, minmax(var(--colwidth), 1fr));
    grid-auto-rows: auto; /* rows height will fit content */
    gap: var(--sfcpad);
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;

    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-width: none;
}

.collectionsContainer::-webkit-scrollbar {
    width: 0px;
    visibility: hidden;
    background-color: var(--dk0);
}

.collectionsContainerPadder {
    grid-column: 1 / -1;
    height: 100px;
}

.collectionItem {
    width: 100%;
    height: 200px;
    min-height: fit-content;
    border-radius: var(--uimrad);
    cursor: pointer;
    
    background-color: var(--dk2);
    background-size: cover !important;  /* it is being overwritten by something else */
    background-position: center;
    overflow: hidden;
}

.collectionItem.newCollection {
    box-sizing: border-box;
    border: 7px dashed var(--dk2) !important;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dk2);
    font-size: 100px;
}

.newCollection img {
    width: 70px;
    max-height: 70px;
    filter: brightness(0.7);
}

.CollectionHoverTint {
    width: 100%;
    height: 100%;
    background-color: rgba(50, 57, 87, 0.8);

    padding: var(--uipad);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: end; */
}

.collectionItem.favorite {
    grid-column: 1 / -1;
}

#newCollectionButton img {
    pointer-events: none;
}


.colDisplay {
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    flex: 1;
    /* max-width: calc(100% - 100px); */
    overflow: hidden;
    
    font-weight: 600;
    color: var(--dk4);
}

.colName {
    font-size: 24px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.colInfo {
    margin-top: 5px;
    display: flex;
    
    filter: brightness(0.8);
}

.colch {
    margin-right: 15px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.colch img {
    width: 15px;
    max-height: 15px;
    margin-right: 5px;
}

.colFiles img {
    width: 13px !important;
    max-height: 13px !important;
}
.colFiles {
    color: #FFEC99;
}
.colMembers {
    color: #B0E0E6;
}

.favoriteButton {
    /* position: absolute; */
    opacity: 0;
    transform: translateX(-50px);
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: 250% 100%;
    background-image: linear-gradient(35deg, var(--lt_d)0%, var(--lt_e)40%, var(--lt_f), var(--lt_g));
    box-shadow: 0 0 5px 2px transparent;

    transition: background-position var(--colAnimLength) ease-in-out, transform var(--colAnimLength) ease-in-out, opacity var(--colAnimLength), box-shadow var(--colAnimLength) ease-in-out;

    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;

    border-radius: 50px;
}
.favoriteButton img {
    width: 23px;
    max-height: 23px;
    pointer-events: none;
}

.emptyCollectionContainer {
    position: absolute;
    top: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 600;

    color: var(--dk25);
}

.messageLink {
    font-size: 16px;
    /* color: lightskyblue; */
    cursor: pointer;

    background-size: 250% 100%;
    background-image: linear-gradient(35deg, var(--lt_h)0%, var(--lt_i)40%, var(--lt_j), var(--lt_k));
    background-clip: text;
    color: transparent;
}