:root {
  --sfcpad: 15px;
  --inputheight: 70px;
  --barheight: calc(var(--inputheight) * 2);
  --inputpad: 25px;
  --uimrad: 5px;
  --uirad: 35px;
  --uipad: calc(var(--inputheight) * 0.5);
  --uifontsize: 22px;
  --fileimgsize: 40px;
  --sfsizewidth: 60px;
  --sfbtnwidth: 30px;

  --miconwidth: 27px;

  --btnanimlen: .4s;

  --dk05: #0F0D1F;
  --dk0: #323957;
  --dk1: #1B1F32;
  --dk2: #323957;
  --dk25: #4A4E7C;
  --dk3: #A2C1D1;
  --dk4: #E6E6FA;

  --lt_d: #ec4c37;
  --lt_e: #de4c86;
  --lt_f: #de4c86;
  --lt_g: #fc9336;

  --lt_h:#E678D1;
  --lt_i:#787FF6;
  --lt_j:#8B78E6;
  --lt_k:#7BD5F5;


  --c:#1B1F32
    #323957
    #4A4E7C
    #616595
    #797CB0;


  --sfcouterpad: 20px;  /* smaller on mobile */
  --sfcwidth: 850px;
  --uploadbtnwidth: 650px;
  --sfcheight: 100px;

  --widgetpad: 10px;
  --topbarpad: 20px;
}

@media screen and (max-width:768px) {
  :root {
    --sfcouterpad: 10px;  /* this is the mobile size of this var */
    --btnanimlen: .2s;
  }

  .expireSelect {
    font-size: 14px !important;  /* smaller on mobile ( on desktop its var(--uifontsize) )*/
  }

  /* .storedFileContainer:active {
    background-color: var(--dk25);
  } */

  .sfBtnContainer:active {
    background-color: var(--dk1);
  }
  .sfBtnContainer:active .sfBtn {
    filter: brightness(1);
  }

  .uploadButton:not(.uploadButtonOpen):active {
    background-position: 100% 0;
    box-shadow: 0 0 5px 1px var(--lt_d);
  }

  .submitButton:active {
    background-position: 100% 0;
    box-shadow: 0 0 5px 1px var(--lt_i);
  }
}

@media (hover:hover) {
  .storedFileContainer:hover {
    background-color: var(--dk25);
  }

  .sfBtnContainer:hover {
    background-color: var(--dk1);
  }
  .sfBtnContainer:hover .sfBtn {
    filter: brightness(1);
  }

  .uploadButton:not(.uploadButtonOpen):hover {
    /* background: linear-gradient(215deg, var(--lt_2), var(--lt_3)); */
    background-position: 100% 0;
    box-shadow: 0 0 5px 1px var(--lt_d);
  }

  .submitButton:hover {
    background-position: 100% 0;
    box-shadow: 0 0 5px 1px var(--lt_i);
  }

  .currentUsername:hover {
    filter: brightness(1);
    cursor: pointer;
  }

  .selectedFileCollection:hover {
    filter: brightness(1);
    cursor: pointer;
  }
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
  touch-action: manipulation;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overflow: hidden;
  position: relative;
}

img {
  -webkit-user-drag: none;
}

button {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.ds {
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background-color: var(--dk1);
  opacity: 0;

  transition: opacity .3s;

  pointer-events: none;

  z-index: 1000;
}

.ds.active {
  opacity: 0.75;
  pointer-events: auto;
}

.globalContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--dk1);

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.topBar {
  z-index: 1000;

  height: 70px;
  width: 100%;
  background-color: var(--dk1);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 10px 2px rgba(27, 31, 50, 1);
}

.topBarWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
  max-width: calc(var(--sfcwidth) - 150px);

  /* background-color: green; */
}

.topBarLogo {
  height: 40px;
  width: 40px;

  margin-right: var(--topbarpad);
  margin-left: auto;
}

.userProfileWidget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--widgetpad) var(--widgetpad) var(--widgetpad) 0;
  box-sizing: border-box;
  
  overflow: hidden;
  text-overflow: ellipsis;
  
  margin-left: var(--topbarpad);
}

.currentUsername {
  color: var(--dk4);
  font-weight: 600;
  font-size: 18px;
  filter: brightness(0.85);
  margin-top: -3px;
}

.widgetSep {
  color: var(--dk4);
  padding: var(--widgetpad);
  filter: brightness(0.7);
}

.selectedFileCollection {
  font-size: 16px;
  font-weight: 600;
  /* max-width: 100%; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--dk4);
  filter: brightness(0.7);
}

.logoutButton {
  height: 20px;
  max-width: 20px;

  filter: brightness(0.7);
}

.bottomBar {
  position: absolute;
  bottom: 0;
  height: var(--barheight);
  width: 100%;

  /* the rgb value is --dk1 */
  background: linear-gradient(to top, rgba(27, 31, 50, 1), rgba(27, 31, 50, 0));

  z-index: 2000;

}

.bottomTray {
  top: 0;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  height: calc(var(--barheight) * 3);

  background-color: transparent;

  transform: translateY(0px);
  
  transition: transform 0.5s, background-color 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);

  display: flex;
  justify-content: center;

  /* overflow: hidden; */
}

.bottomTrayOpen {
  transform: translateY( calc( calc(var(--barheight) * -2) + (calc(var(--uipad) * 2)) )) !important;
  background-color: var(--dk1);
}

.popupTray {
  position: absolute;
  width: var(--uploadbtnwidth);
  max-width: 100%;
  height: var(--barheight);
  background-color: transparent;
  transform: translateY(calc(var(--barheight) * -1 ));

  display: flex;
  /* justify-content: center; */
  align-items: flex-end;

  padding: var(--uipad) var(--uipad) 0 var(--uipad);
  box-sizing: border-box;

  pointer-events: none;
}

.popup {
  width: 100%;
  height: var(--inputheight);
  background-color: var(--dk05);

  border-radius: var(--uimrad);
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--inputpad);
  box-sizing: border-box;

  pointer-events: none;

  transition: transform .3s, opacity .3s; /* same time as popupStartAnimClass vv */
}

.popupStartAnimClass {
  animation: popupStartAnim .3s ease-out 1;
}

.popup-hidden {
  opacity: 0;
  transform: scale(0.95);
}

.popupDynamicContent {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popupText {
  flex: 1 auto;
  display: flex;
  justify-content:flex-start;
  align-items: center;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  color: white;
}

.popupIcon {
  flex: 0 auto;
  width: var(--miconwidth);
  max-height: var(--miconwidth);
  padding: 0 var(--sfcpad) 0 0;
}

.uploadForm {
  width: var(--uploadbtnwidth);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--uipad);

  box-sizing: border-box;
}

.inputGrid {
  width: var(--uploadbtnwidth);
  max-width: 100%;
  display: grid;
  grid-template-columns: 75% 25%;

  border: 2px solid var(--dk3);
  border-radius: var(--uirad);
  overflow: hidden;

  margin-top: var(--uipad);
}

.titleInput {
  height: var(--inputheight);
  padding: var(--inputpad);
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 0px;

  color: var(--dk4);
  font-weight: 600;
  font-size: var(--uifontsize);

  background-color: transparent;

}

.expireSelect {
  height: var(--inputheight);
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 0px !important;

  font-weight: 600;
  font-size: var(--uifontsize);

  color: var(--dk1);

  text-align: center;
  text-align-last: center;
}

.uploadButton {
  outline: none;
  width: var(--uploadbtnwidth);
  max-width: 100%;
  height: var(--inputheight);
  padding: var(--inputpad);
  border-radius: var(--uirad); /* max rad */
  font-weight: 600;
  font-size: var(--uifontsize);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;  /* add to uploadImg margin-left */
  cursor: pointer;

  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  user-select: none;

  border: none;
  color: var(--dk4);

  background-size: 250% 100%;
  background-image: linear-gradient(35deg, var(--lt_d)0%, var(--lt_e)40%, var(--lt_f), var(--lt_g));
  box-shadow: 0 0 10px 2px transparent;

  transition: background-position var(--btnanimlen) ease-in-out, box-shadow var(--btnanimlen) ease-in-out;
}
.uploadButton > .uploadImg {
  transition: filter 0.2s;
  filter: brightness(1) drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
}

.uploadButtonOpen {
  border: 3px dashed var(--dk3) !important;
  color: var(--dk3) !important;
  background: transparent !important;
}
.uploadButtonOpen > .uploadImg {
  filter: brightness(0.75) drop-shadow(0px 0px 3px rgba(0,0,0,0.5)) !important;
}

.uploadImg {
  fill: inherit;
  height: var(--miconwidth);
  max-width: var(--miconwidth);
  margin-left: calc(calc(var(--miconwidth) * -1) + 10px); /* 10px = uploadButton gap */
  pointer-events: none;
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
}

.submitButton {
  outline: none;
  border: none;
  width: var(--uploadbtnwidth);
  max-width: 100%;
  height: var(--inputheight);
  padding: var(--inputpad);
  border-radius: var(--uirad);

  font-weight: 600;
  font-size: var(--uifontsize);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;  /* add to uploadImg margin-left */
  cursor: pointer;

  background-size: 250% 100%;

  background-image: linear-gradient(35deg, var(--lt_h) 0%, var(--lt_i) 40%, var(--lt_j), var(--lt_k));
  color: var(--dk4);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);

  transition: background-position var(--btnanimlen) ease-in-out, box-shadow var(--btnanimlen) ease-in-out;

  margin-top: var(--uipad);
}

.submitImg {
  fill: inherit;
  height: var(--miconwidth);
  max-width: var(--miconwidth);
  margin-left: calc(calc(var(--miconwidth) * -1) + 10px); /* 10px = uploadButton gap */
  pointer-events: none;

  filter: brightness(1);
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
}

.fileInput {
  /* visibility: hidden; */
  display: none;
  position: absolute;
}


.filesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* min-width: 640px; */
  width: var(--sfcwidth);
  max-width: 100%;
  height: 100%;
  /* max-height: 100px; */
  background-color: var(--dk1);

  box-sizing: border-box;
  padding: var(--sfcpad) var(--sfcouterpad) 0px var(--sfcouterpad);

  overflow-y: scroll;
  overflow-x: visible;
}

.filesContainer::-webkit-scrollbar {
  width: 0px;
  visibility: hidden;
  background-color: var(--dk0);
}

/* .filesContainer::-webkit-scrollbar-thumb {
  background-color: var(--dk3);
  border-radius: 10px;
} */

.storedFileContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  width: 100%;
  min-height: var(--sfcheight);

  background-color: var(--dk2);
  padding: var(--sfcpad);
  box-sizing: border-box;

  margin: 0px 0px 10px 0px;

  border-radius: var(--uimrad);

  cursor: pointer;
  user-select: none;
}

.sfcPadder {
  height: calc(var(--sfcheight) + var(--sfcpad));
  min-height: calc(var(--sfcheight) + var(--sfcpad));

  user-select:none;
  pointer-events: none;
}

.storedFileInfoContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  width: calc(100% - calc(calc(var(--fileimgsize) + var(--sfcpad)) + var(--sfsizewidth) + var(--sfsizewidth)));
  /* width: calc(100% - calc(var(--fileimgsize) + var(--sfcpad))); */
  height: 100%;

}

.fileImg {
  margin-right: var(--sfcpad);
  max-height: var(--fileimgsize);
  width: var(--fileimgsize);
}

.sfTitle {
  color: var(--dk4);
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* flex: 1 auto; */
}

.sfSize {
  color: var(--dk3);
  font-size: 18px;
  font-weight: 400;
  width: var(--sfsizewidth);
  margin-left: 15px;

  flex: 0 0 auto;
}

.sfInfoContainer {
  display: flex;
  align-items: center;
}

.sfUploader {
  color: var(--dk3);
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sfBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color .1s;

  border-radius: 100px;
  width: 46px;
  height: 46px;
  background-color: transparent;

}

.sfBtn {
  width: var(--sfbtnwidth);
  max-height: var(--sfbtnwidth);
  filter: brightness(0.7);
  transition: filter .1s;
  pointer-events: none; /* to not interfere with click event */
}

.sfDlBtn {
  width: calc(var(--sfbtnwidth) - 5px) !important;
  max-height: calc(var(--sfbtnwidth) - 5px) !important;
}

.sfShrBtn {
  margin-left: 2px;
}


.tempLogin {
  background-color: blue;
  width: 400px;
  height: 100px;
  color: white;
}


/* react css transitions */

.newlyCreatedAnim {
  transform-origin: center center;
  animation: animPop .3s ease-out 1; /* last prop means play only once */
}

@keyframes animPop {
  0% {
    min-height: calc(var(--sfcheight) / 2);
    transform: scale(0.9);
  }
  50% {
    min-height: var(--sfcheight);
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes popupStartAnim {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}