:root {
  --sfcpad: 15px;
  --inputpad: 25px;
  --inputheight: 60px;
  --uipad: calc(var(--inputheight) * 0.33333334);
  --barheight: calc(var(--inputheight) + calc(var(--uipad) * 2));
  --uirad: 35px;
  --uimrad: 5px;
  --uifontsize: 20px;
  --fileimgsize: 40px;
  --sfsizewidth: 60px;
  --sfbtnwidth: 30px;

  --dsopacity: 0.85;

  --miconwidth: 24px; /* 27px */
  --miconwidthLarge: 27px; /* 27px */

  --btnanimlen: .4s;

  --dk05: #0F0D1F;
  --dk0: #323957;
  --dk1: #1B1F32;
  --dk2: #323957;
  --dk25: #4A4E7C;
  --dk3: #A2C1D1;
  --dk33: #8076b0;
  --dk34: #c8bcfe;
  --dk35: #dcd4ff;
  --dk4: #E6E6FA;

  --lt_d: #ec4c37;
  --lt_e: #de4c86;
  --lt_f: #de4c86;
  --lt_g: #fc9336;

  --lt_h:#E678D1;
  --lt_i:#787FF6;
  --lt_j:#8B78E6;
  --lt_k:#7BD5F5;

  --lt_red: #d53731;


  --c:#1B1F32
    #323957
    #4A4E7C
    #616595
    #797CB0;


  --sfcouterpad: 20px;  /* smaller on mobile */
  --sfcwidth: 850px;
  --uploadbtnwidth: 650px;
  --sfcheight: 100px;

  --widgetpad: 10px;
  --topbarpad: 20px;
}

@media screen and (max-width:768px) {
  :root {
    --sfcouterpad: 10px;  /* this is the mobile size of this var */
    --btnanimlen: .2s;

    --inputpad: 25px;
    --inputheight: 70px;
    --uipad: calc(var(--inputheight) * 0.33333334);
  }

  .expireSelect {
    /*font-size: 14px !important;  /* smaller on mobile ( on desktop its var(--uifontsize) )*/
  }

  /* .storedFileContainer:active {
    background-color: var(--dk25);
  } */

  .sfBtnContainer:active {
    background-color: var(--dk1);
  }
  .sfBtnContainer.deleteBtn:active {
    background-color: var(--lt_red);
  }
  .sfBtnContainer:active .sfBtn {
    filter: brightness(1);
  }

  .uploadButton:not(.uploadButtonOpen):active {
    background-position: 100% 0;
    box-shadow: 0 0 5px 1px var(--lt_d);
  }

  .submitButton:active {
    background-position: 100% 0;
    box-shadow: 0 0 5px 1px var(--lt_i);
  }

  .reselectFileButton div div {
    max-width: 80% !important;
  }
}

@media (hover:hover) {
  .storedFileContainer:hover {
    background-color: var(--dk25);
  }

  .sfBtnContainer:hover {
    background-color: var(--dk1);
  }
  .sfBtnContainer:hover .sfBtn {
    filter: brightness(1);
  }
  .sfBtnContainer.deleteBtn:hover {
    background-color: var(--lt_red);
  }

  .uploadButton:not(.uploadButtonOpen):not(.disabled):hover {
    /* background: linear-gradient(215deg, var(--lt_2), var(--lt_3)); */
    background-position: 100% 0;
    box-shadow: 0 0 5px 1px var(--lt_d);
  }

  .submitButton:hover {
    background-position: 100% 0;
    box-shadow: 0 0 5px 1px var(--lt_i);
  }

  .currentUsername:hover {
    filter: brightness(1);
    cursor: pointer;
  }

  .selectedFileCollection:hover {
    filter: brightness(1);
    cursor: pointer;
  }

  .selectFileButton:hover .selectFileButtonRect {
    /* animation: offsetCycle 2s linear infinite; */
    animation-duration: 2s !important;
  }
  .reselectFileButton:hover {
    filter: brightness(1);
  }
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
  touch-action: manipulation;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overflow: hidden;
  position: relative;
}

img {
  -webkit-user-drag: none;
}

button {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.hidden {
  display: none !important;
}

.invis {
  opacity: 0 !important;
}

.bog {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  background-color: green;
}

.ds {
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background-color: var(--dk05);
  opacity: 0;

  transition: opacity .3s;

  pointer-events: none;

  z-index: 1000;
}

.ds.active {
  opacity: var(--dsopacity);
  pointer-events: auto;
}

.globalContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--dk1);

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.topBar {
  z-index: 1000;

  height: 70px;
  min-height: 70px;
  width: 100%;
  background-color: var(--loginContainerColor);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 10px 2px rgba(27, 31, 50, 1);
}

.topBarWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
  max-width: calc(var(--sfcwidth) - 150px);

  /* background-color: green; */
}

.topBarLogo {
  height: 40px;
  width: 40px;

  margin-right: var(--topbarpad);
  margin-left: auto;
}

.userProfileWidget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--widgetpad) var(--widgetpad) var(--widgetpad) 0;
  box-sizing: border-box;
  
  overflow: hidden;
  text-overflow: ellipsis;
  
  margin-left: var(--topbarpad);
}

.currentUsername {
  color: var(--dk4);
  font-weight: 600;
  font-size: 18px;
  filter: brightness(0.85);
  margin-top: -3px;
}

.widgetSep {
  color: var(--dk4);
  padding: var(--widgetpad);
  filter: brightness(0.7);
}

.selectedFileCollection {
  font-size: 16px;
  font-weight: 600;
  /* max-width: 100%; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--dk4);
  filter: brightness(0.7);
}

.logoutButton {
  height: 20px;
  max-width: 20px;

  filter: brightness(0.7);
}

.bottomBar {
  position: absolute;
  bottom: 0;
  height: var(--barheight);
  width: 100%;

  /* the rgb value is --dk1 */
  background: linear-gradient(to top, rgba(27, 31, 50, 1), rgba(27, 31, 50, 0));

  z-index: 2000;

}

.bottomTray {
  top: 0;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  height: calc(var(--barheight) * 4);

  background-color: transparent;

  transform: translateY(0px);
  
  transition: transform 0.5s, background-color 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);

  display: flex;
  justify-content: center;

  /* overflow: hidden; */
}

.bottomTrayFullyClosed {
  transform: translateY( calc(var(--barheight) * 1)) !important;
}

.bottomTrayOpenMinimal {
  transform: translateY( calc( calc(var(--barheight) * -1) + (calc(var(--uipad) * 1)) )) !important;
  background-color: var(--loginContainerColor);
}

.bottomTrayOpen {
  transform: translateY( calc( calc(var(--barheight) * -2) + (calc(var(--uipad) * 2)) )) !important;
  background-color: var(--loginContainerColor);
  
}

.bottomTrayOpenExtended {
  transform: translateY( calc( calc(var(--barheight) * -4) + (calc(var(--uipad) * 4)) )) !important;
  background-color: var(--loginContainerColor);
}


.popupTray {
  position: absolute;
  width: var(--uploadbtnwidth);
  max-width: 100%;
  height: var(--barheight);
  background-color: transparent;
  transform: translateY(calc(var(--barheight) * -1 ));

  display: flex;
  /* justify-content: center; */
  align-items: flex-end;

  padding: var(--uipad) var(--uipad) 0 var(--uipad);
  box-sizing: border-box;

  pointer-events: none;
}

.popup {
  width: 100%;
  height: var(--inputheight);
  background-color: var(--dk05);

  border-radius: var(--uimrad);
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--inputpad);
  box-sizing: border-box;

  pointer-events: none;

  transition: transform .3s, opacity .3s, margin .3s; /* same time as popupStartAnimClass vv */
}

.popupStartAnimClass {
  animation: popupStartAnim .3s ease-out 1;
}

.popup-hidden {
  opacity: 0;
  transform: scale(0.95);
}

.popup-margin {
  margin-bottom: 50px;
}

.popupDynamicContent {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popupText {
  flex: 1 auto;
  display: flex;
  justify-content:flex-start;
  align-items: center;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  color: var(--dk35);
}

.popupIcon {
  flex: 0 auto;
  width: var(--miconwidth);
  max-height: var(--miconwidth);
  padding: 0 var(--sfcpad) 0 0;
}

.uploadForm {
  width: var(--uploadbtnwidth);
  max-width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--uipad);

  padding: var(--uipad);

  box-sizing: border-box;
}

.inputGrid0 {
  width: var(--uploadbtnwidth);
  max-width: 100%;
  height: var(--inputheight);
  height: fit-content;
  max-height: var(--inputheight);
  display: grid;
  grid-template-columns: 75% 25%;

  border: 2px solid var(--dk3);
  border-radius: var(--uirad);
  overflow: hidden;

  margin-top: var(--uipad);
}

.inputGrid {
  width: var(--uploadbtnwidth);
  max-width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--uipad);

}

.titleInput {
  height: var(--inputheight);
  max-height: var(--inputheight);
  padding-left: var(--inputpad);
  padding-right: var(--inputpad);
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 0px;

  
  color: var(--dk4);
  font-weight: 600;
  font-size: var(--uifontsize);
  
  background-color: transparent;
}

.expireSelect {
  /* height: var(--inputheight); */
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: var(--loginrad) var(--uirad) var(--uirad) var(--loginrad);

  font-weight: 400;
  font-size: var(--uifontsize);

  text-align: center;
  text-align-last: center;

  background-color: var(--loginContainerColor);
  color: var(--dk34);
}
.expireSelect:focus {
  background-color: var(--dk1);
}
.expireSelect option {
  background-color: var(--loginContainerColor);
  color: var(--dk34);
}

.joinCollection {
  background-size: 250% 100%;
  background-image: linear-gradient(35deg, var(--lt_d)0%, var(--lt_e)40%, var(--lt_f), var(--lt_g));
  box-shadow: 0 0 10px 2px transparent;
}

.createCollection {
  background-size: 250% 100%;
  background-image: linear-gradient(35deg, var(--lt_d)0%, var(--lt_e)40%, var(--lt_f), var(--lt_g));
  box-shadow: 0 0 10px 2px transparent;
}

.uploadButton {
  outline: none;
  width: var(--uploadbtnwidth);
  max-width: 100%;
  height: var(--inputheight);
  border-radius: var(--uirad); /* max rad */
  font-weight: 600;
  font-size: var(--uifontsize);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;  /* add to uploadImg margin-left */
  cursor: pointer;

  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  user-select: none;

  border: none;
  color: var(--dk4);

  background-size: 250% 100%;
  background-image: linear-gradient(35deg, var(--lt_d)0%, var(--lt_e)40%, var(--lt_f), var(--lt_g));
  box-shadow: 0 0 10px 2px transparent;

  transition: background-position var(--btnanimlen) ease-in-out, box-shadow var(--btnanimlen) ease-in-out, opacity var(--btnanimlen) ease-in-out;
}
.uploadButton > .uploadImg {
  transition: filter 0.2s;
  filter: brightness(1) drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
}

.uploadButton.disabled {
  opacity: 0.1 !important;
  cursor: default;
}

.uploadImg {
  fill: inherit;
  height: var(--miconwidthLarge);
  max-width: var(--miconwidthLarge);
  margin-left: calc(calc(var(--miconwidthLarge) * -1) + 10px); /* 10px = uploadButton gap */
  pointer-events: none;
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));

  margin-top: 2px;
}

.submitButton {
  outline: none;
  border: none;
  width: var(--uploadbtnwidth);
  max-width: 100%;
  height: var(--inputheight);
  max-height: var(--inputheight);
  /* padding: var(--inputpad); */
  box-sizing: border-box;
  border-radius: var(--uirad);

  font-weight: 600;
  font-size: var(--uifontsize);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;  /* add to uploadImg margin-left */
  cursor: pointer;

  background-size: 250% 100%;

  background-image: linear-gradient(35deg, var(--lt_h) 0%, var(--lt_i) 40%, var(--lt_j), var(--lt_k));
  color: var(--dk4);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);

  transition: background-position var(--btnanimlen) ease-in-out, box-shadow var(--btnanimlen) ease-in-out;

  /* margin-top: var(--uipad); */
}

.submitImg {
  fill: inherit;
  height: 30px;
  max-width: 30px;
  margin-left: calc(calc(var(--miconwidthLarge) * -1) + 10px); /* 10px = uploadButton gap */
  pointer-events: none;

  margin-top: 2px;

  filter: brightness(1);
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
}

.fileInput {
  visibility: hidden;
  /* display: none; */
  pointer-events: none;
  position: absolute;
}


.filesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  /* min-width: 640px; */
  width: var(--sfcwidth);
  max-width: 100%;
  height: 100%;
  /* max-height: 100px; */
  background-color: var(--dk1);

  box-sizing: border-box;
  padding: var(--sfcpad) var(--sfcouterpad) 0px var(--sfcouterpad);

  overflow-y: scroll;
  overflow-x: visible;
  scrollbar-width: none;
}

.filesContainer::-webkit-scrollbar {
  width: 0px;
  visibility: hidden;
  background-color: var(--dk0);
}

.storedFileContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: var(--sfcpad);

  width: 100%;
  min-height: var(--sfcheight);

  background-color: var(--dk2);
  padding: var(--sfcpad);
  box-sizing: border-box;

  border-radius: var(--uimrad);

  cursor: pointer;
  user-select: none;
}

.sfcPadder {
  height: calc(var(--sfcheight) + var(--sfcpad));
  min-height: calc(var(--sfcheight) + var(--sfcpad));

  user-select:none;
  pointer-events: none;
}

.storedFileInfoContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  --btnpluspad:calc(46px + var(--sfcpad));

  width: calc(100% - calc(calc(var(--fileimgsize) + var(--sfcpad)) + var(--btnpluspad) + var(--btnpluspad) + var(--btnpluspad)));
  height: 100%;
}
.storedFileInfoContainer.nodel {
  width: calc(100% - calc(calc(var(--fileimgsize) + var(--sfcpad)) + var(--btnpluspad) + var(--btnpluspad))) !important;
}

.fileImg {
  /* margin-right: var(--sfcpad); */
  max-height: var(--fileimgsize);
  width: var(--fileimgsize);
}

.sfTitle {
  color: var(--dk4);
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* flex: 1 auto; */
}

.sfSize {
  color: var(--dk3);
  font-size: 18px;
  font-weight: 400;
  width: var(--sfsizewidth);
  margin-left: 15px;

  flex: 0 0 auto;
}

.sfInfoContainer {
  display: flex;
  align-items: center;
}

.sfUploader {
  color: var(--dk3);
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sfBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color .1s;

  border-radius: 100px;
  width: 46px;
  height: 46px;
  background-color: transparent;
}

.sfBtn {
  width: var(--sfbtnwidth);
  max-height: var(--sfbtnwidth);
  filter: brightness(0.7);
  transition: filter .1s;
  pointer-events: none; /* to not interfere with click event */
}

.sfDlBtn {
  width: calc(var(--sfbtnwidth) - 5px) !important;
  max-height: calc(var(--sfbtnwidth) - 5px) !important;
}

.sfShrBtn {
  margin-left: 2px;
}


.tempLogin {
  background-color: blue;
  width: 400px;
  height: 100px;
  color: white;
}
.tempReg {
  background-color: green !important;
}

.progressContainer {
  width: min(100%, var(--sfcwidth));
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: var(--uipad);
  border-radius: var(--uimrad);
  box-sizing: border-box;

  opacity: 0;
  pointer-events: none;

  transform: scale(0.85);

  transition: transform .3s, opacity .3s;

  background-color: var(--loginContainerColor);

  z-index: 3000;
}
.progressContainer.Open {
  opacity: 1;
  pointer-events: all;
  transform: scale(0.9);
}

.progressInfo {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 10px;

  justify-content: space-around;
  
}

.progressBarContainer {
  display: flex;
  width: 100%;
  height: 20px;

  background-color: var(--dk25);
  border-radius: var(--uirad);
  overflow: hidden;
}

.progressBar {
  /* width: 0%; */
  height: 100%;

  background-size: 250% 100%;
  background-image: linear-gradient(35deg, var(--lt_h) 0%, var(--lt_i) 40%, var(--lt_j), var(--lt_k));
  border-radius: var(--uirad);

  transition: width .5s;
  
  overflow: hidden;
  flex: 0 auto;
}

.progressUploadAbort {
  flex: 1;
  display: none;
}

.progressContainer span {
  color: var(--dk4);
}

.progressTitle {
  font-size: var(--uifontsize);
}

.progressPrecent {
  font-size: 20px;
  font-weight: 600;
}

.copyTextWindow {
  background-color: var(--dk1);
  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 25px;
  font-weight: 600;
  color: var(--dk25);

  user-select: all;

  padding: 0px;
  opacity: 0;
  padding-left: 5px !important;
  padding-right: 5px !important;
  box-sizing: border-box;
  border-radius: var(--uimrad);

  transition: padding 0.3s, opacity 0.3s;
}

.copyTextWindow.active {
  animation: activeAnimTextWindow .5s ease-out 1 forwards;
}


.fadeIn25 {
  /* opacity: 0; */
  animation: fadeInAnim .25s ease-out 1 forwards;
}

.loadingSpinner {
  position: absolute;

  top: 45%;


  animation: rotate 1s linear infinite;
  width: 50px;
  height: 50px;
}
.loadingSpinner .innerPath {
  stroke: var(--dk34);
  stroke-linecap: round;
  animation: dash 5s ease-in-out infinite;
}

.selectFileButton {
  /* width: var(--uploadbtnwidth);
  height: var(--inputheight); */
  width: 100%;
  height: var(--inputheight);
  overflow: visible;
}
.selectFileButtonRect {
  max-width: var(--uploadbtnwidth);
  width: 100%;
  height: var(--inputheight);
  max-height: 100%;

  stroke: var(--dk34);
  stroke-linecap: round;
  stroke-dasharray: 10, 15;
  stroke-dashoffset: 0;

  animation: offsetCycle 20s linear infinite;
}

.dragBorderCorrection {
  height: 300px;
  width: 100%;
  stroke: var(--dk34);
  stroke-linecap: round;
  stroke-dasharray: 15, 27;

  transform-origin: center center;
  transform: translateY(-120px) scale(0.9); /* (300 / 2) - (60 / 2) */

  animation-duration: 5s !important;
}

.reselectFileButton {
  width: var(--uploadbtnwidth);
  max-width: 100%;
  height: var(--inputheight);
  font-weight: 600;
  font-size: var(--uifontsize);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;  /* add to uploadImg margin-left */
  cursor: pointer;

  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  user-select: none;

  border: none;
  color: var(--dk34);
  filter: brightness(0.8);
}
.reselectFileButton div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;

  text-overflow: ellipsis;
  overflow: hidden;

  position: absolute;
  pointer-events: none;

}
.reselectFileButton div img {
  margin-left: 5px;
}
.reselectFileButton div div {
  display: block;
  position: relative;
  max-width: calc(var(--uploadbtnwidth) - 300px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.deleteAnim {
  animation: shrinkOut .2s ease-out forwards !important;
}

.dragDropFileContainer {
  position: absolute;
  display: flex; /* flex on .active */
  justify-content: center;
  align-items: center;

  z-index: 1100; /* .ds is 1000 */
  /* background-color: var(--dk05); */

  opacity: 0;

  width: 100%;
  height: 100%;
  top: 0;

  transition: opacity .2s ease-in-out;
  pointer-events: none;
}

.dragDropFileContainer.active {
  opacity: var(--dsopacity);
}

.dragDropSvgContainer {
  /* width: calc(var(--uploadbtnwidth) - 50px ); */
  width: var(--uploadbtnwidth);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dragDropUploadImage {
  position: absolute;
  width: 100px;
  max-height: 100px;
  transform: translateY(-10px);
}

/* react css transitions */

.newlyCreatedAnim {
  transform-origin: center center;
  animation: animPop .3s ease-out 1; /* last prop means play only once */
}

@keyframes animPop {
  0% {
    min-height: calc(var(--sfcheight) / 2);
    transform: scale(0.9);
  }
  50% {
    min-height: var(--sfcheight);
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes popupStartAnim {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes activeAnimTextWindow {
  0% {
    opacity: 0;
    padding: 0px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    padding: 5px;
  }
}

@keyframes fadeInAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes offsetCycle {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -124;
  }
}

@keyframes shrinkOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}