/stored_files/*
/collection_pictures/*
/fileuploadtron-frontend/media_root/stored_files/*
/fileuploadtron-frontend/media_root/collection_pictures/*

# dependencies
/fileuploadtron-frontend/node_modules
/fileuploadtron-frontend/.pnp
/fileuploadtron-frontend.pnp.js

# testing
/fileuploadtron-frontend/coverage

# production
/fileuploadtron-frontend/build

# misc
/fileuploadtron-frontend/.DS_Store
/fileuploadtron-frontend/.env.local
/fileuploadtron-frontend/.env.development.local
/fileuploadtron-frontend/.env.test.local
/fileuploadtron-frontend/.env.production.local

/fileuploadtron-frontend/npm-debug.log*
/fileuploadtron-frontend/yarn-debug.log*
/fileuploadtron-frontend/yarn-error.log*
